/* Navbar */

.nav-links {
  list-style: none;
  display: flex;
  width: 30%;
  justify-content: space-between;
  margin: 0 auto;
}
.nav-link {
  padding: 5px 5px 0;
}
.nav-link:hover {
  /* border-top: solid 2px #ff9f1c; */
  /* border-right:#ff9f1c solid 2px; */
  border-bottom: #ff9f1c solid 2px;
}
.home-container {
  margin: 0 auto;
  width: 95vw;
  height: 85vh;
  border: solid pink 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.image-container {
  width: 40%;
  height: 70%;
  border: solid 10px black;
  margin-left: -20px;
  overflow-y: hidden;
}
.portrait {
  width: 100%;
  margin-top: -10%;
}
.name-and-title {
  width: 30%;
  height: 20%;
  text-align: right;
  padding-right: 20%;
}