@import "~bootstrap/scss/bootstrap";

//! Navbar
nav {
  top: 0;
  align-self: flex-start;
  z-index: 2;
  background-color: white;
  width: 100vw;
}
.logo {
  height: 5vh;
  background: transparentize($color: white, $amount: 0.7);
}
a.nav-link {
  color: black !important;
  font-family: 'Roboto Mono', monospace;
}
//! Homepage
#root {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  background: url(../assets/val-toch-BHeQQmZM8jE-unsplash.jpg);
  background-size: cover;
}
#root::before {
  content: 'JAHNVI PATEL';
  align-content: center;
  left: 0vw;
  // top: 40vh;
  position: absolute;
  background-color: rgb(255, 255, 255);
  padding-left: 6vw;
  font-family: 'Roboto Mono', monospace;
  z-index: 1;
  mix-blend-mode: screen;
  font-weight: 700;
  font-size: 8.5vh;
  letter-spacing: 2vw;
  width: 40%;
  height: 25vh;
}
.title {
  position: absolute;
  text-align: right;
  margin-left: 45vw;
  font-family: 'Roboto Mono', monospace;
  font-weight: 500;
  font-size: 6vh;
  letter-spacing: 3vw;
  width: 55vw;
}
.icons {
  width: 100vw;
  background: transparentize($color: #ffffff, $amount: 0.8);
  height: 9vh;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon {
  height: 5vh;
  padding: 0 1vw;
}

@media only screen and (max-width: 626px) {
  .title {
    font-size: 3vh;
  }
  #root::before {
  font-size: 4vh;
  padding-left: 2vw;
  height: 12vh;
  }

}