@import "~bootstrap/scss/bootstrap";
*{
  box-sizing:border-box;
}
//! Navbar
nav {
  position: fixed !important;
  top: 0;
  width: 100vw;
  background-color: white;
}
.logo {
  height: 5vh;
  background: transparentize($color: white, $amount: 0.7);
}
a.nav-link {
  color: black !important;
  font-family: 'Roboto Mono', monospace;
}
//! Homepage
#root {
  // background-color: #FC7F00;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  // background: url(../assets/val-toch-BHeQQmZM8jE-unsplash.jpg);
  background: url(../assets/jackson-jost-RMynbTjDu_g-unsplash.jpg);
  // background: url(../assets/samuel-scalzo-xyuYk9oLA8I-unsplash.jpg);
  background-color: transparentize($color: #000000, $amount: 0.9);
  background-size: cover;
  background-repeat: repeat-y;
}
#HOME {
  background-color: transparentize($color: #000000, $amount: 0.3);
  height: 100vh;
  width: 100vw;
  display: block;
  display:flex;
  align-items: center;
  // background: url(../assets/val-toch-BHeQQmZM8jE-unsplash.jpg);
  // background-size: inherit;
  // background-repeat: repeat-y;
}
#HOME::before {
  content: 'JAHNVI PATEL';
  align-content: center;
  left: 0vw;
  top: 40vh;
  // position: absolute;
  background-color: rgb(255, 255, 255);
  padding-left: 6vw;
  font-family: 'Roboto Mono', monospace;
  z-index: 1;
  mix-blend-mode: screen;
  font-weight: 700;
  font-size: 8.5vh;
  letter-spacing: 2vw;
  width: 40%;
  height: 25vh;
}
.title {
  // position: absolute;
  top: 40vh;
  text-align: right;
  // margin-left: 45vw;
  font-family: 'Roboto Mono', monospace;
  font-weight: 500;
  font-size: 6vh;
  letter-spacing: 3vw;
  width: 57vw;
  color: white;
}
//! Arrow
.arrow-container {
  position: relative;
  margin-top: -15vh;
}
.arrow,
.arrow:before {
  position: absolute;
  left: 50%;
  // margin-left: 50vw;
}
.arrow {
  width: 40px;
  height: 40px;
  top: 50%;
  margin: -20px 0 0 -20px;
  -webkit-transform: rotate(45deg);
  border-left: none;
  border-top: none;
  border-right: 2px #fff solid;
  border-bottom: 2px #fff solid;
}
.arrow:before {
  content: '';
  width: 20px;
  height: 20px;
  top: 50%;
  margin: -10px 0 0 -10px;
  border-left: none;
  border-top: none;
  border-right: 1px #fff solid;
  border-bottom: 1px #fff solid;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: arrow;
}
@keyframes arrow {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(-10px, -10px);
}
}
//! Footer
.footer {
  display: inline-block;
  bottom: 0;
  position: fixed;
}
.icons {
  width: 100vw;
  background: transparentize($color: #000000, $amount: 0.05);
  height: 8vh;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.icon {
  height: 4vh;
  padding: 0 1vw;
}
button {
  background-color: transparent;
  border: none;
  height: 5vh;
}
.mail-group {
  display: flex;
  flex-direction: column;
}
.copied {
  position: absolute;
  font-style: italic;
  font-family: 'Roboto Mono', monospace;
  font-size: 1.5vh;
  margin-top: -2vh;
  margin-left: -2vw;
  color: white;
  z-index: 4;
}
.copied { 
  animation: hide 0s 4s forwards; 
}
.blank-background-overlay {
  height: 100vh;
  width: 100vw;
}
//! Page two
.new-page {
  display: block;
  margin-top: 15vh;
  width: 100vw;
  background-color: transparentize($color: #000000, $amount: 0.04);
}
.main-layout {
  display: flex;
  // flex-direction: column;
  width: 95vw;
  height: 100vh;
  margin: 0 auto;
  justify-content: space-between;
  font-family: 'Roboto Mono', monospace;
}
//! About Me
.about-me-header {
  // background-color: white;
  color: white;
  width: 25vw;
  height: 5vh;
  text-align: left;
  padding-top: 4vh;
  padding-left: 1vw;
  margin-top: 8vh;
  margin-left: 0.5vw;
}
.about-me-header-para {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.three-header {
  padding: 1.5vw;
  margin: 0;
}
.about-me-container {
  width: 45vw;
  height: 40vh;
  font-size: 2vh;
  margin-top: 3vh;
  // background-color: white;
  color: white;
}
.main-paragraph {
  padding: 1.5vw;
}
//! Skills
.skills-container {
  width: 45vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.skills-header {
  margin-top: 8vh;
  text-align: right;
  color: white;
  height: 5vh;
  padding-top: 8vh;
}
.skills {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  padding-left: 0;
}
.skill-icon {
  max-height: 10vh;
  max-width: 5vw;
}
.skill-title {
  text-align: left;
}
.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 10vw;
  margin-top: 4vh;
}
.label {
  color:white;
  font-size: 2vh;
  height: 4vh;
  padding-top: 2.5vh;
  text-align: center;
}
.django {
  padding-bottom: 2vh;
}
//! Education
.new-page-two {
  margin-top: 2vh;
  display: block;
  width: 100vw;
  height: 180vh;
  background-color: transparentize($color: #000000, $amount: 0.04);
}
.projects-header {
  color: white;
  width: 100vw;
  height: 10vh;
  text-align: left;
  padding-top: 4vh;
  padding-left: 4vw;
  // margin-top: 8vh;
}
.projects-container {
  margin: 0 auto;
  // border: solid white 2px;
  width: 92vw;
  // height: 10vh;
  display: flex;
  color: white;
}
.project-screenshot {
  height: 35vh;
  // filter: grayscale(50%);
}
.project-screenshot:hover {
  filter: grayscale(0%);
}
.right-half {
  // margin: 0 auto;
  display: flex;
  width: 100%;
  // border: solid white 2px;
}
.projects-ul {
  width: 100%;
  // height: 120vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-left: 0;
  justify-content: space-between;
  align-items: center;
}
li {
  list-style: none;
}
.project-li {
  display: flex;
  // flex-direction: column;
  color: white;
  margin-bottom: 5vh;
  // width: 35vw;
  // height: fit-content;
}
.links-container {
  display: flex;
  justify-content: space-evenly;
  border-top: solid white 2px;
}
.a-link {
  margin-top: 1.5vh;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.a-link:hover {
  text-decoration: none;
  color: white;
  font-size: larger;
}
.external-link {
  height: 3vh;
}
.project-description {
  // height: 5vh;
  width: 30vw;
  padding: 2vh 0;
  margin: 0 auto;
  text-align: left;
  font-family: 'Roboto Mono', monospace;
  font-size: smaller;
}
.description-and-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 2vw;
}

@keyframes hide  { to { visibility: hidden; } }

@media only screen and (max-width: 626px) {
  .title {
    font-size: 2.5vh;
  }
  #HOME {
    height: 100vh;
  }
  #HOME::before {
  font-size: 4vh;
  padding-left: 2vw;
  height: 12vh;
  }
  .main-layout {
    display: inline-block;
    margin-top: 10vh;
    width: 100vw;
  }
  .about-me-header {
    padding-top: 0;
    font-size: 2.5vh;
  }
  .about-me-container {
    width: 95vw;
    height: 40vh;
    font-size: 1.25vh;
    margin: 0 auto;
    margin-top: -12vh;
  }
  .skills-header {
    padding-top: 0;
    // padding-left: 4vw;
    // margin-left: -6vw;
    font-size: 2.5vh;
  }
  .skills-container {
    margin: 0 auto;
    margin-top: 8vh;
    height: 40vh;
    width: 93vw;
  }
  .skill {
    font-size: 1.5vh;
    width: 22vw;
    margin-top: 2.5vh;
  }
  .skills {
    margin-top: -4vh;
  }
  .label {
    font-size: 1.5vh;
    width: 20vw;
    text-align: center;
  }
  .new-page {
    height: 112vh;
  }
  .projects-header {
    margin-top: -15vh;
    font-size: 2.5vh;
  }
  .projects-container {
    height: 130vh;
  }
  .projects-ul {
    display: inline-block;
    height: 170vh;
  }
  .project-screenshot {
    width: 90vw;
  }
  .new-page-two {
    height: 180vh;
  }

}